.about-page
  padding: 100px 40px
  background: white
  text-align: center

  h2
    margin: 0
    font-family: 'Roboto', Verdana
    text-transform: uppercase
    color: black
    font-weight: 900

  .about-description-lockup
    max-width: 850px
    margin: 20px auto 0

    p
      font-weight: 300
      color: black
      line-height: 1.80
