header
  position: relative
  min-height: 643px
  width: 100%
  height: 100vh
  overflow: hidden

  video
    position: fixed
    min-height: 100%
    min-width: 100%
    height: auto
    width: auto
    z-index: -100

  .nav-invisible
    display: none

  .sticky-nav
    z-index: 1000
    background: black
    position: fixed
    width: 100%

    .sticky-nav-lockup
      margin: 0 auto
      padding: 20px
      max-width: 1090px

      .logo
        float: left

      nav
        float: right

        a
          text-transform: uppercase
          color: white
          margin-right: 40px
          padding-bottom: 5px

  .header-lockup
    width: 100%
    height: 100%
    background: rgba(23,23,23,.8)

    .row
      max-width: 1100px
      margin: 0px auto
      padding: 90px 40px 0

      .logo
        +size(155px 30px)
        float: left

      nav
        float: right

        a
          text-transform: uppercase
          color: white
          margin-right: 40px
          padding-bottom: 10px
          letter-spacing: 1px
          vertical-align: bottom

    h1
      text-align: center
      letter-spacing: 2px
      margin-top: 200px
      font-family: 'Leckerli One'
      font-weight: 400
      font-size: 48px
      padding: 0 20px
      color: white

      span
        color: $instylered-color

    .row2
      margin-top: 100px
      padding: 0 20px
      text-align: center

      .our-gallery-button
        font-size: 22px
        background: $instylered-color
        color: black
        padding: 20px 15px 20px 20px
        margin-bottom: 15px
        border-radius: 5px
        vertical-align: middle
        box-sizing: border-box
        +transition

        i
          margin-right: 20px
          vertical-align: middle

        &:hover
          color: white
          background: black

      .what-we-do-button
        font-size: 18px
        padding-top: 25px
        color: white
        margin-left: 20px

@media (max-width: 910px)

  .sticky-nav

    .sticky-nav-lockup

      .logo
        float: none!important
        +display(flex)
        +justify-content(center)
        +align-items(center)

      nav
        display: none!important

  .header-lockup
    h1
      margin-top: 50px!important

    .row
      padding: 20px!important
      .logo
        float: none!important
        margin: 0 auto!important

      nav
        margin-top: 10px
        text-align: center
        float: none!important
        +display(flex!important)
        +justify-content(space-around!important)
        +align-items(center!important)
        +flex-wrap(wrap)

        a
          padding: 20px
          margin-right: 0!important

    .row2
      margin-top: 50px!important
