.sticky
  position: fixed!important
  top: 0px!important
  right: 0!important
  z-index: 1000!important
  width: 100%
  background: rgba(0,0,0,.2)
  padding: 10px 40px!important

  ul
    float: right
    margin: 0!important

  .toggle-nav
    background: black
    padding: 10px 10px

  @media (max-width: 910px)
    background: transparent

header
  background: rgba(20,20,20,1)
  padding: 10px 10px 0 10px
  z-index: 100

  .logo
    display: inline-block

  .menu
    float: right
    padding: 15px 40px 0 0

    ul, li
      display: inline
      padding: 0

    .toggle-nav
      display: none

    ul

      li:last-child
        padding-right: 0

      li
        padding-right: 30px

        a
          color: white
          text-transform: uppercase
          letter-spacing: 1px
          font-weight: 600
          text-shadow: none
          +transition

          &:hover
            color: $instylered-color

@media (max-width: 1015px)
  .menu

    ul
      li
        padding-right: 15px!important

@media (max-width: 910px)
  .menu
    padding: 10px 30px!important

    ul, li
      display: list-item!important

    .active
      display: block!important

    ul
      display: none!important
      background: rgba(33,33,33,1)
      position: fixed!important
      margin: 0!important
      top: 0!important
      right: 0
      z-index: 100!important
      list-style: none!important
      text-align: center
      width: 200px
      height: 100vh!important

      li
        padding-top: 20px!important

      li:first-child
        padding-top: 70px!important

    .toggle-nav
      position: absolute
      display: block!important
      z-index: 101
      right: 30px
      color: white!important
      +transition

      &:hover
        color: $instylered-color!important

@media (max-width: 360px)
  header
    padding: 5px 10px 0 10px!important

  .logo
    +size(170px 40px!important)

    svg
      +size(170px 40px!important)
