.services-page
  background: #e8e8e8
  padding: 50px 40px

  .title, .subtitle
    margin: 0

  .title
    text-align: center
    color: black
    font:
      size: 36px
      weight: 700
    text-transform: uppercase
    letter-spacing: 2px

  .subtitle
    color: black
    text-align: center
    font-weight: 300
    font-style: italic
