.services-page
  padding-top: 100px

  @media (max-width: 550px)
    padding-top: 50px

  .title, .subtitle
    margin: 0

  .title
    text-align: center
    color: black
    font:
      size: 2em
      weight: 700
    text-transform: capitalize
    letter-spacing: 1px

  .subtitle
    margin-top: 20px
    color: black
    text-align: center
    font-weight: 300
    font-style: italic

  .services-wrap
    margin-top: 50px
    width: 100%
    +display(flex)
    +flex-wrap(wrap)
    +justify-content(center)
    //background: url(../img/our-services-bg.png) repeat center center

    .services-unit:nth-of-type(even)
      background: #e6e6e6

    .services-unit
      width: 33.333333%
      background: #efefef

      @media (max-width: 670px)
        width: 50%

      @media (max-width: 450px)
        width: 100%

      .services-meta
        padding: 40px

        @media (max-width: 670px)
          padding: 20px

        .services-title
          text-transform: uppercase
          color: #1f1f1f
          font-weight: 800
          letter-spacing: 2px
          font-size: 1em

          @media (max-width: 800px)
            font-size: .9em
            letter-spacing: 1px

          @media (max-width: 550px)
            letter-spacing: 1px
            font-size: .85em


        .services-description
          margin-top: 15px
          font-size: .9em
          color: #646464
          line-height: 2em

          @media (max-width: 800px)
            font-size: .88em

          @media (max-width: 550px)
            line-height: 1.5em
            font-size: .8em


        .services-read-more
          margin-top: 30px
          display: inline-block
          font-size: .9em
          font-weight: 400
          text-transform: uppercase
          letter-spacing: 1px
          color: black
          padding: 5px 30px
          border: 2px solid #bcbcbc
          +transition

          &:hover
            background: $instylered-color
