<footer>
  <div class="footer-wrap">

    <div class="footer-unit">
      <span>Event Planning/Event Services Agency from Silang - Cavite</span>
      <p>In Style Events offers Event Planning & Coordination and Photo &
        Video Services for any of your upcoming events.</p>
      <div class="logo-footer">{% include icons/logo.html %}</div>
    </div>

    <div class="row">
      <div class="social-media-strip">
        {% for items in site.data.settings.social-units %}
        <a class="social-unit" href="{{items.url}}" target="_blank"><i class="fa fa-{{items.name}}"></i></a>
        {% endfor %}
      </div>
    </div>

    <div class="row">
      <p class="footer-content">© 2015 In Style Events. All Rights Reserved. Design and code by
      <a href="http://vibarjames.github.io" target="_blank">James Vibar</a></p>
    </div>
  </div>
</footer>
