<section id="gallery" class="gallery-page">

  <div class="flex-video-strip"></div>

  <div class="gallery-container">

    <h2 class="title">{{site.data.settings.gallery-title}}</h2>
    <p class="subtitle">{{site.data.settings.gallery-subtitle}}</p>

    <div class="video-container">
      <div class="video-lock-up">
        <div class="flex-video">
          <iframe src="https://www.youtube.com/embed/{{site.data.settings.gallery-featured-video}}?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0"></iframe>
        </div>
      </div>
    </div>

  </div>

  <a class="gallery-contact-us" href="#">View Full Gallery</a>

  <div class="pictures-lockup">

      {% for items in site.data.gallery limit: 8 %}
      <a class="picture-thumb" href="assets/img/gallery/{{items.image}}"
      style="background-image: url(assets/img/gallery/{{items.image}}"
      data-rel="lightcase:gallery" title="{{items.caption}}" alt="{{items.caption}}">
        <div class="picture-meta">
          <p class="fa fa-search fa-3x"></p>
        </div>
      </a>
      {% endfor %}

  </div>


</section>
