<section id="gallery" class="gallery-page">

  <div class="flex-video-strip"></div>

  <div class="gallery-container">

    <h2 class="title">{{site.data.settings.gallery-title}}</h2>
    <p class="subtitle">{{site.data.settings.gallery-subtitle}}</p>

    <div class="video-container">
      <div class="video-lock-up">
        <div class="flex-video">
          <iframe src="https://www.youtube.com/embed/{{site.data.settings.gallery-featured-video}}?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0"></iframe>
        </div>
      </div>
    </div>

  </div>

  <div class="pictures-lockup">

      <a class="picture-thumb" href="#" style="background-image: url(http://fillmurray.com/230/500)">
        <div class="picture-meta">
          <div class="picture-category">CTE</div>
        </div>
      </a>

      <a class="picture-thumb" href="#" style="background-image: url(http://fillmurray.com/230/500)">
        <div class="picture-meta">
          <div class="picture-category">CTE</div>
        </div>
      </a>

      <a class="picture-thumb" href="#" style="background-image: url(http://fillmurray.com/230/500)">
        <div class="picture-meta">
          <div class="picture-category">CTE</div>
        </div>
      </a>

      <a class="picture-thumb" href="#" style="background-image: url(http://fillmurray.com/230/500)">
        <div class="picture-meta">
          <div class="picture-category">CTE</div>
        </div>
      </a>

      <a class="picture-thumb" href="#" style="background-image: url(http://fillmurray.com/230/500)">
        <div class="picture-meta">
          <div class="picture-category">CTE</div>
        </div>
      </a>

      <a class="picture-thumb" href="#" style="background-image: url(http://fillmurray.com/230/500)">
        <div class="picture-meta">
          <div class="picture-category">CTE</div>
        </div>
      </a>

      <a class="picture-thumb" href="#" style="background-image: url(http://fillmurray.com/230/500)">
        <div class="picture-meta">
          <div class="picture-category">CTE</div>
        </div>
      </a>

      <a class="picture-thumb" href="#" style="background-image: url(http://fillmurray.com/230/500)">
        <div class="picture-meta">
          <div class="picture-category">CTE</div>
        </div>
      </a>



  </div>


</section>
