<title>In Style Events - Event Planning & Coordination, Photo & Video Services</title>

<meta name="description" content="In Style Events offers Event Planning & Coordination and Photo & Video Services for any of your upcoming events.">
<meta rel="author" href="In Style Events">
<meta rel="publisher" href="In Style Events">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="/assets/img/favicons/favicon.ico">
<link rel="stylesheet" href="/assets/css/main.css" />
<link rel="stylesheet" href="/assets/css/slick.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
<link rel="stylesheet" href="/assets/css/lightcase.css" />
<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
