<header>

  <nav class="menu">

    <div class="row">
      <div class="logo">{% include icons/logo.html %}</div>

      <a class="toggle-nav" href="#">&#9776;</a>

      <ul class="active">

        {% for items in site.data.settings.nav %}
          <li><a class="hvr-underline-from-center" href="{{items.url}}">{{items.name}}</a></li>
        {% endfor %}

      </ul>


    </div>

  </nav>

  <div id="welcome" class="slick">

    <div class="slide" style="background: url(/assets/img/{{site.data.settings.slider-background}}) center center no-repeat; background-size: cover;">

      <div class="slide-content-lockup">
        <h2>{{site.data.settings.slider-text}}</h2>
        <h4 class="tagline">{{site.data.settings.slider-tagline}}</h4>

        <div class="row">
          <a class="our-gallery-button" href="#"><i class="fa fa-rocket"></i>Our Gallery</a>
          <a class="what-we-do-button hvr-icon-forward" href="#about">What we do</a>
        </div>

      </div>


    </div>

    {% for post in .site.posts limit: 4 %}
      <div class="slide" style="background: url(/assets/img/blog/{{post.background}}); background-size: cover; background-position: center center;">
        <div class="slide-content-lockup">
          <h3>{{post.title}}</h3>
          <h4 class="date">{{post.date | date: "%B %d, %Y"}}</h2>
          <span class="divider"></span>
          <p class="post-content">{{post.content | strip_html | truncatewords: 40}}</p>
          <span class="divider"></span>
          <a class="readmore" href="{{post.url}}">Read Full Article</a>
          <a class="readmore-alt" href="#">or visit our <strong>blog</strong></a>
        </div>
      </div>
    {% endfor %}
    </div>
</header>
