<header role="banner" id="header">

  <div class="wrapper">

    <!-- logo -->
    <h1 id="logo">
      <a href="index.html" rel="home">
        <img src="" alt="InStyleEvents" />
      </a>
    </h1>

    <!-- main menu -->
    <nav id="mainmenu" role="navigation">

      <div id="menu-burger"><i class="icon-menu"></i></div>
      <div id="menu">
        <ul>
          {% for nav in site.data.navigation %}
            {% if nav.submenu != null %}
            <li class="menu-item-has-children"> <a href="{{nav.href}}">{{nav.name}}</a>
              <ul class="sub-menu">{% for sub in nav.submenu %}
                <li><a href="{{sub.href}}">{{sub.name}}</a></li>
                {% endfor %}
              </ul>
            </li>
            {% else %}
            <li><a href="{{nav.href}}">{{nav.name}}</a></li>
            {% endif %}

          {% endfor %}
        </ul>
      </div>
    </nav>
  </div><!--end .wrapper -->

</header>
