<header>

  <nav class="menu">

    <div class="row">
      <div class="logo">{% include icons/logo.html %}</div>

      <a class="toggle-nav" href="#">&#9776;</a>

      <ul class="active">

        {% for items in site.data.settings.nav %}
          <li><a class="hvr-underline-from-center" href="{{items.url}}">{{items.name}}</a></li>
        {% endfor %}

      </ul>


    </div>

  </nav>

  <div id="welcome" class="slick">

    <div class="slide" style="background: url(/assets/img/4.jpg); background-size: cover; background-position: center center;">

      <div class="slide-content-lockup">
        <h1>Welcome to Instyle Events!</h1>
      </div>


    </div>

    <div class="slide" style="background: url(/assets/img/2.jpg); background-size: cover; background-position: center center;">

      <div class="slide-content-lockup">
        <h1>Where blablabla</h1>
      </div>

    </div>

  </div>
</header>
