<script>
  function initMap() {
    var myLatLng = {lat: 14.282120, lng: 120.993389};

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: myLatLng,
      disableDefaultUI: true,
      zoomControl: false,
      scaleControl: false,
      scrollwheel: false,
      disableDoubleClickZoom: true
    });

    var marker = new google.maps.Marker({
      position: myLatLng,
      map: map,
      title: "In Style Events"
    });
  }
</script>

<script src="/assets/js/jquery-2.1.1.min.js"></script>
<script src="/assets/js/functions.js" type="text/javascript"></script>
<script src="/assets/js/lightcase.js" type="text/javascript"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVBlaPevOXBRhpKuXa1EbEzhOproQ_YAM&signed_in=true&callback=initMap" async defer>
</script>
