<!-- Javascripts ______________________________________-->
<script src="/js/jquery.min.js"></script>
<script src="/js/retina.min.js"></script>
<!-- include image popups -->
<script src="/js/jquery.magnific-popup.min.js"></script>
<!-- include mousewheel plugin -->
<script src="/js/jquery.mousewheel.min.js"></script>
<!-- include video plugin -->
<script src="/js/backgroundVideo.min.js"></script>
<!-- include gallery cycle plugin -->
<script src="/js/jquery.cycle.min.js"></script>
<!-- include carousel plugins -->
<script src="/js/jquery.tinycarousel.min.js"></script>
<!-- include svg line drawing plugin -->
<script src="/js/jquery.lazylinepainter.min.js"></script>
<!-- include custom script -->
<script src="/js/scripts.js"></script>
