<section id="services" class="services-page">

  <h2 class="title">{{site.data.settings.services-title}}</h2>

  <p class="subtitle">{{site.data.settings.services-subtitle}}</p>

  <div class="services-wrap">

    {% for items in site.data.settings.services %}
    <div class="services-unit">
      <div class="services-meta">
        <h4 class="services-title">{{items.name}}</h4>
        <p class="services-description">{{items.description}}</p>

        <!-- <a href="#" class="services-read-more">Read More</a> -->
      </div>
    </div>
    {% endfor %}

  </div>

</section>
