<section id="team" class="team-section">
  <h2 class="title">{{site.data.settings.team-title}}</h2>
  <p class="subtitle">{{site.data.settings.team-subtitle}}</p>

  <div class="team-wrap">

    {% for items in site.data.settings.team-members %}
    <div class="team-unit" style="background-image: url(assets/img/thumbnails/{{items.thumbnail}})">

      <div class="team-meta">
        <p class="name">{{items.name}}</p>
        <p class="position">{{items.position}}</p>
      </div>

    </div>
    {% endfor %}

    <div class="call-to-action">
      <h3 class="action">Become part of In Style Events!</h3>
      <div class="row">
        <p>Want to join In Style Events? Send us a message!</p>
        <a class="join-with-us-button" href="#contacts">Join us</a>
      </div>
    </div>

  </div>

  <h4 class="title-small">What clients say?</h4>

  <div class="testimonials-wrap">

    <div class="face-container">
      <ul class="faces">
        {% for items in site.data.settings.testimonials-items %}
        <li class="face" style="background-image: url(assets/img/thumbnails/{{items.thumbnail}});"></li>
        {% endfor %}
      </ul>
    </div>

    <div class="testimonials-quote">

      {% for items in site.data.settings.testimonials-items %}
      <div class="bubble">

        <p>{{items.quotation}}</p>
        <hr class="testimonials-divider">
        <cite>{{items.name}}</cite><br>

      </div>
      {% endfor %}

    </div>



  </div>

</section>
