/* latin */
@font-face {
  font-family: 'Leckerli One';
  font-style: normal;
  font-weight: 400;
  src: local("Leckerli One"), local("LeckerliOne-Regular"), url(https://fonts.gstatic.com/s/leckerlione/v7/S2Y_iLrItTu8kIJTkS7DrOgdm0LZdjqr5-oayXSOefg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local("Roboto Thin"), local("Roboto-Thin"), url(https://fonts.gstatic.com/s/roboto/v15/2tsd397wLxj96qwHyNIkxPesZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url(https://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfVtXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v15/CWB0XYA8bzo0kSThX0UTuA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url(https://fonts.gstatic.com/s/roboto/v15/RxZJdnzeo3R5zSexge8UUVtXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url(https://fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOFtXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local("Roboto Black"), local("Roboto-Black"), url(https://fonts.gstatic.com/s/roboto/v15/mnpfi9pxYH-Go5UiibESIltXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  src: local("Roboto Thin Italic"), local("Roboto-ThinItalic"), url(https://fonts.gstatic.com/s/roboto/v15/12mE4jfMSBTmg-81EiS-Yfk_vArhqVIZ0nv9q090hN8.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: local("Roboto Light Italic"), local("Roboto-LightItalic"), url(https://fonts.gstatic.com/s/roboto/v15/7m8l7TlFO-S3VkhHuR0at44P5ICox8Kq3LLUNMylGO4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local("Roboto Italic"), local("Roboto-Italic"), url(https://fonts.gstatic.com/s/roboto/v15/vPcynSL0qHq_6dX7lKVByfesZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: local("Roboto Medium Italic"), local("Roboto-MediumItalic"), url(https://fonts.gstatic.com/s/roboto/v15/OLffGBTaF0XFOW1gnuHF0Y4P5ICox8Kq3LLUNMylGO4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local("Roboto Bold Italic"), local("Roboto-BoldItalic"), url(https://fonts.gstatic.com/s/roboto/v15/t6Nd4cfPRhZP44Q5QAjcC44P5ICox8Kq3LLUNMylGO4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  src: local("Roboto Black Italic"), local("Roboto-BlackItalic"), url(https://fonts.gstatic.com/s/roboto/v15/bmC0pGMXrhphrZJmniIZpY4P5ICox8Kq3LLUNMylGO4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background: 0 0; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: 700; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

/* Icon Forward */
.hvr-icon-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  padding-right: 2.2em;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s; }

.hvr-icon-forward:before {
  content: "\f0a9";
  position: absolute;
  right: 1em;
  padding: 0 1px;
  font-family: FontAwesome;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.hvr-icon-forward:hover:before, .hvr-icon-forward:focus:before, .hvr-icon-forward:active:before {
  -webkit-transform: translateX(4px);
  transform: translateX(4px); }

/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden; }

.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #ff0030;
  height: 3px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0; }

.gigantic, .huge, .large, .bigger, .big,
h1, h2, h3, h4, h5, h6 {
  color: #BD5248;
  font-weight: bold; }

.gigantic {
  font-size: 110px;
  line-height: 1.09;
  letter-spacing: -2px; }

.huge, h1 {
  font-size: 68px;
  line-height: 1.05;
  letter-spacing: -1px; }

.large, h2 {
  font-size: 42px;
  line-height: 1.14; }

.bigger, h3 {
  font-size: 26px;
  line-height: 1.38; }

.big, h4 {
  font-size: 22px;
  line-height: 1.38; }

.small, small {
  font-size: 10px;
  line-height: 1.2; }

p {
  margin: 0 0 20px 0; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0; }

a {
  color: #BD5248;
  text-decoration: none;
  outline: 0; }

a:hover, a:focus {
  color: #d89993; }

::selection {
  background: #FFF498; }

::-moz-selection {
  background: #FFF498; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  -webkit-tap-highlight-color: #FFF498; }

body {
  background: #F6F6F8;
  font-size: 14px;
  line-height: 1.6;
  font-family: "Roboto", Verdana, Arial;
  color: #2E2D33;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  border: 0; }

.title {
  text-align: center;
  color: black;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px; }

.subtitle {
  text-align: center;
  margin-top: 20px;
  color: black;
  font-weight: 300;
  font-style: italic; }

.sticky {
  position: fixed !important;
  top: 0px !important;
  background: rgba(0, 0, 0, 0.2) !important;
  z-index: 1000 !important; }

header .menu {
  z-index: 1; }
  header .menu .toggle-nav {
    display: none; }
header .slick {
  position: relative; }
  header .slick .slick-prev {
    position: absolute;
    top: 50%;
    left: 0%;
    z-index: 100;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; }
    header .slick .slick-prev:hover {
      background: #ff0030;
      transform: translateX(-10px); }
  header .slick .slick-next {
    position: absolute;
    top: 50%;
    right: 0%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; }
    header .slick .slick-next:hover {
      background: #ff0030;
      transform: translateX(10px); }
  header .slick .slick-prev, header .slick .slick-next {
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;
    padding: 10px 30px;
    outline: none;
    color: black;
    letter-spacing: 1px;
    font-weight: 600;
    background: white;
    border: none; }
  header .slick .slick-dots {
    position: absolute;
    margin-left: -80px;
    padding: 0;
    bottom: 1%;
    left: 50%;
    list-style: none;
    -webkit-transition: all 0.15s ease-out 0s;
    -moz-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s; }
    header .slick .slick-dots .slick-active button {
      background: #ff0030; }
    header .slick .slick-dots li {
      display: inline-block;
      margin-right: 20px; }
      header .slick .slick-dots li button {
        height: 15px;
        width: 15px;
        outline: none;
        vertical-align: center;
        background: rgba(0, 0, 0, 0.5);
        color: transparent;
        font-weight: 800;
        border: none;
        border-radius: 50%;
        -webkit-transition: all 0.15s ease-out 0s;
        -moz-transition: all 0.15s ease-out 0s;
        transition: all 0.15s ease-out 0s; }
        header .slick .slick-dots li button:hover {
          background: #ff0030; }
    header .slick .slick-dots li:last-child {
      margin-right: 0; }
  header .slick .slide {
    width: 100%;
    height: 100vh;
    outline: none; }
  header .slick .slide-content-lockup {
    width: 100%;
    height: 100%;
    background: rgba(50, 50, 50, 0.7);
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column; }
    header .slick .slide-content-lockup .row {
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      margin-top: 20px;
      width: 350px;
      -webkit-box-pack: center;
      -moz-box-pack: center;
      box-pack: center;
      -webkit-justify-content: space-around;
      -moz-justify-content: space-around;
      -ms-justify-content: space-around;
      -o-justify-content: space-around;
      justify-content: space-around;
      -ms-flex-pack: center;
      -webkit-box-align: center;
      -moz-box-align: center;
      box-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      align-items: center;
      -ms-flex-align: center; }
      header .slick .slide-content-lockup .row .what-we-do-button {
        color: white;
        font-size: 18px;
        cursor: pointer;
        text-align: center; }
      header .slick .slide-content-lockup .row .our-gallery-button {
        background: #ff0030;
        border-radius: 5px;
        color: black;
        padding: 10px 20px 10px 20px;
        font-size: 18px;
        cursor: pointer;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        transition: all 0.5s; }
        header .slick .slide-content-lockup .row .our-gallery-button:hover {
          background: black;
          color: white; }
        header .slick .slide-content-lockup .row .our-gallery-button i {
          padding-right: 20px; }
    header .slick .slide-content-lockup h1 {
      color: white;
      text-transform: capitalize;
      text-align: center;
      font-weight: 600;
      padding: 0 20px; }
    header .slick .slide-content-lockup h2 {
      margin-top: 20px;
      color: white;
      text-align: center;
      text-transform: capitalize;
      font-weight: 400;
      padding: 0 20px; }
    header .slick .slide-content-lockup h3 {
      padding: 0 20px;
      text-align: center;
      color: white;
      text-transform: capitalize; }
    header .slick .slide-content-lockup .post-content {
      color: white;
      max-width: 600px;
      font-weight: 400;
      font-size: 20px;
      text-align: center; }
    header .slick .slide-content-lockup .divider {
      height: 1px;
      width: 100px;
      background: white;
      margin: 20px 0; }
    header .slick .slide-content-lockup .tagline {
      padding: 0 20px;
      font-size: 30px; }
    header .slick .slide-content-lockup .date {
      text-transform: capitalize;
      letter-spacing: 1px;
      font-style: italic;
      font-weight: 400;
      font-size: 22px;
      color: white; }
    header .slick .slide-content-lockup .readmore-alt {
      margin-top: 3px;
      color: white;
      font-style: italic; }
      header .slick .slide-content-lockup .readmore-alt:hover {
        text-decoration: underline; }
    header .slick .slide-content-lockup .readmore {
      margin-top: 30px;
      color: white;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 800;
      border: 1px solid white;
      box-sizing: border-box;
      border-radius: 3px;
      padding: 20px 30px;
      -webkit-transition: all 0.15s ease-out 0s;
      -moz-transition: all 0.15s ease-out 0s;
      transition: all 0.15s ease-out 0s; }
      header .slick .slide-content-lockup .readmore:hover {
        border: 1px solid transparent;
        color: black;
        background: #ff0030; }
    header .slick .slide-content-lockup .tagline {
      text-align: center;
      text-transform: lowercase;
      font-weight: 400;
      color: white;
      font-family: "Leckerli One", Roboto, Verdana; }
      header .slick .slide-content-lockup .tagline span {
        color: #ff0030; }

@media (min-width: 910px) {
  .menu {
    position: absolute;
    top: 40px;
    width: 100%;
    background: transparent; }
    .menu:after {
      content: "";
      display: table;
      clear: both; }
    .menu .row {
      padding: 5px 30px 0; }
      .menu .row .logo {
        float: left; }
      .menu .row ul {
        display: inline-block;
        -webkit-margin-after: 0.5em;
        float: right; }
        .menu .row ul li {
          float: left;
          margin: 0px 40px 0px 0px;
          list-style: none;
          font-size: 16px; }
          .menu .row ul li a {
            padding-bottom: 5px;
            color: white;
            text-transform: capitalize; }
        .menu .row ul li:last-child(1) {
          margin: 0; } }
@media (max-width: 1050px) {
  .slick .slick-prev, .slick .slick-next {
    display: none !important; }
  .slick h3 {
    font-size: 18px !important; }
  .slick .date {
    font-size: 14px !important; }
  .slick .post-content {
    font-size: 12px !important;
    max-width: 200px !important; }
  .slick .readmore {
    font-size: 12px !important;
    padding: 5px 10px !important; }

  .menu {
    width: 100%;
    position: absolute;
    top: 0px;
    display: inline-block;
    background: transparent; }
    .menu .row ul {
      position: absolute;
      top: 0px;
      right: 0px;
      width: 100px;
      height: 100vh;
      z-index: -1;
      background: black;
      margin: 0; }
      .menu .row ul li {
        display: block; }
        .menu .row ul li a {
          padding: 10px 0px;
          text-align: left;
          color: white; }
      .menu .row ul li:first-child {
        padding-top: 100px; }
    .menu .row .active {
      display: none; }
    .menu .row .logo {
      float: left;
      padding: 20px 0 0 20px; }
    .menu .row .toggle-nav {
      display: inline-block;
      box-sizing: border-box;
      float: right;
      z-index: 5;
      margin: 10px 20px 10px 0;
      padding: 10px;
      font-size: 1.5em;
      background: black;
      color: white;
      -webkit-transition: all 0.15s ease-out 0s;
      -moz-transition: all 0.15s ease-out 0s;
      transition: all 0.15s ease-out 0s; }
      .menu .row .toggle-nav:hover {
        background: #ff0030; } }
@media (max-width: 350px) {
  .menu .logo {
    max-width: 150px !important;
    max-height: 40px !important; }
    .menu .logo svg {
      max-width: 150px !important;
      max-height: 40px !important; }

  .slide-content-lockup h2 {
    padding-top: 30px; }
  .slide-content-lockup .row {
    -webkit-box-orient: column !important;
    -moz-box-orient: column !important;
    box-orient: column !important;
    -webkit-flex-direction: column !important;
    -moz-flex-direction: column !important;
    flex-direction: column !important;
    -ms-flex-direction: column !important; }
    .slide-content-lockup .row .what-we-do-button {
      margin-top: 10px; } }
.about-page {
  padding: 100px 40px;
  background: white;
  text-align: center; }
  .about-page h2 {
    margin: 0;
    font-family: "Roboto", Verdana;
    text-transform: uppercase;
    color: black;
    font-weight: 900; }
  .about-page .about-description-lockup {
    max-width: 850px;
    margin: 20px auto 0; }
    .about-page .about-description-lockup p {
      font-weight: 300;
      color: black;
      line-height: 1.8; }

.services-page {
  background: url(../img/our-services-bg.png) repeat center center;
  padding: 100px 40px;
  text-align: center; }
  .services-page .title, .services-page .subtitle {
    margin: 0; }
  .services-page .title {
    text-align: center;
    color: black;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px; }
  .services-page .subtitle {
    margin-top: 20px;
    color: black;
    text-align: center;
    font-weight: 300;
    font-style: italic; }
  .services-page .services-contact-us {
    display: inline-block;
    text-align: center;
    color: black;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 50px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    border: 1px solid #2e2d33;
    padding: 10px 30px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s; }
    .services-page .services-contact-us:hover {
      background: #ff0030;
      color: white;
      border: 1px solid transparent; }
  .services-page .services-icons-lockup {
    max-width: 800px;
    margin: 30px auto 0;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: baseline;
    -moz-box-align: baseline;
    box-align: baseline;
    -webkit-align-items: baseline;
    -moz-align-items: baseline;
    -ms-align-items: baseline;
    -o-align-items: baseline;
    align-items: baseline;
    -ms-flex-align: baseline;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center; }
    .services-page .services-icons-lockup .icon-unit {
      margin-top: 20px;
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      box-orient: vertical;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      flex-direction: column;
      -ms-flex-direction: column;
      -webkit-box-pack: center;
      -moz-box-pack: center;
      box-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      -o-justify-content: center;
      justify-content: center;
      -ms-flex-pack: center;
      -webkit-box-align: center;
      -moz-box-align: center;
      box-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      align-items: center;
      -ms-flex-align: center;
      height: 200px;
      width: 200px; }
      .services-page .services-icons-lockup .icon-unit .icon {
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        box-pack: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        -o-justify-content: center;
        justify-content: center;
        -ms-flex-pack: center;
        -webkit-box-align: center;
        -moz-box-align: center;
        box-align: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center;
        -ms-flex-align: center;
        height: 150px;
        width: 150px;
        border: 2px solid #2e2d33;
        border-radius: 50%;
        position: relative;
        -webkit-transition: all 0.15s ease-out;
        -moz-transition: all 0.15s ease-out;
        transition: all 0.15s ease-out; }
        .services-page .services-icons-lockup .icon-unit .icon:hover::after {
          transform: scale(1.5);
          opacity: 0; }
      .services-page .services-icons-lockup .icon-unit .icon::after {
        content: "";
        display: block;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        margin: -2px;
        border: 2px solid #2e2d33;
        border-radius: 50%;
        opacity: 1;
        -webkit-transition: all 0.15s ease-out;
        -moz-transition: all 0.15s ease-out;
        transition: all 0.15s ease-out; }
      .services-page .services-icons-lockup .icon-unit .icon-title {
        margin-top: 20px;
        width: 180px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 12px; }

.gallery-page {
  padding: 100px 20px; }

/*# sourceMappingURL=main.css.map */
