/* latin */
@font-face {
  font-family: 'Leckerli One';
  font-style: normal;
  font-weight: 400;
  src: local("Leckerli One"), local("LeckerliOne-Regular"), url(https://fonts.gstatic.com/s/leckerlione/v7/S2Y_iLrItTu8kIJTkS7DrOgdm0LZdjqr5-oayXSOefg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local("Roboto Thin"), local("Roboto-Thin"), url(https://fonts.gstatic.com/s/roboto/v15/2tsd397wLxj96qwHyNIkxPesZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url(https://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfVtXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v15/CWB0XYA8bzo0kSThX0UTuA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url(https://fonts.gstatic.com/s/roboto/v15/RxZJdnzeo3R5zSexge8UUVtXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url(https://fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOFtXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local("Roboto Black"), local("Roboto-Black"), url(https://fonts.gstatic.com/s/roboto/v15/mnpfi9pxYH-Go5UiibESIltXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  src: local("Roboto Thin Italic"), local("Roboto-ThinItalic"), url(https://fonts.gstatic.com/s/roboto/v15/12mE4jfMSBTmg-81EiS-Yfk_vArhqVIZ0nv9q090hN8.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: local("Roboto Light Italic"), local("Roboto-LightItalic"), url(https://fonts.gstatic.com/s/roboto/v15/7m8l7TlFO-S3VkhHuR0at44P5ICox8Kq3LLUNMylGO4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local("Roboto Italic"), local("Roboto-Italic"), url(https://fonts.gstatic.com/s/roboto/v15/vPcynSL0qHq_6dX7lKVByfesZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: local("Roboto Medium Italic"), local("Roboto-MediumItalic"), url(https://fonts.gstatic.com/s/roboto/v15/OLffGBTaF0XFOW1gnuHF0Y4P5ICox8Kq3LLUNMylGO4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local("Roboto Bold Italic"), local("Roboto-BoldItalic"), url(https://fonts.gstatic.com/s/roboto/v15/t6Nd4cfPRhZP44Q5QAjcC44P5ICox8Kq3LLUNMylGO4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  src: local("Roboto Black Italic"), local("Roboto-BlackItalic"), url(https://fonts.gstatic.com/s/roboto/v15/bmC0pGMXrhphrZJmniIZpY4P5ICox8Kq3LLUNMylGO4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background: 0 0; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: 700; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

.lightcase-title {
  color: white;
  text-transform: capitalize; }

.gigantic, .huge, .large, .bigger, .big,
h1, h2, h3, h4, h5, h6 {
  color: #BD5248;
  font-weight: bold; }

.gigantic {
  font-size: 110px;
  line-height: 1.09;
  letter-spacing: -2px; }

.huge, h1 {
  font-size: 68px;
  line-height: 1.05;
  letter-spacing: -1px; }

.large, h2 {
  font-size: 42px;
  line-height: 1.14; }

.bigger, h3 {
  font-size: 26px;
  line-height: 1.38; }

.big, h4 {
  font-size: 22px;
  line-height: 1.38; }

.small, small {
  font-size: 10px;
  line-height: 1.2; }

p {
  margin: 0 0 20px 0; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0; }

a {
  color: #BD5248;
  text-decoration: none;
  outline: 0; }

a:hover, a:focus {
  color: #d89993; }

::selection {
  background: #fd5071; }

::-moz-selection {
  background: #fd5071; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  -webkit-tap-highlight-color: #fd5071; }

body {
  background: #FFFFFF;
  font-size: 14px;
  line-height: 1.6;
  font-family: "Roboto", Verdana, Arial;
  color: #2E2D33;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  border: 0; }

.title {
  text-align: center;
  color: black;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px; }

.subtitle {
  text-align: center;
  margin-top: 20px;
  color: black;
  font-weight: 300;
  font-style: italic; }

.flex-video {
  height: 0;
  overflow: hidden;
  padding-bottom: 55.5%;
  position: relative; }

.flex-video iframe,
.flex-video object,
.flex-video embed,
.flex-video video {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0; }

.sticky {
  position: fixed !important;
  top: 0px !important;
  right: 0 !important;
  z-index: 1000 !important;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  padding: 10px 40px !important; }
  .sticky ul {
    float: right;
    margin: 0 !important; }
  .sticky .toggle-nav {
    background: black;
    padding: 10px 10px; }
  @media (max-width: 910px) {
    .sticky {
      background: transparent; } }

header {
  background: #141414;
  padding: 10px 10px 0 10px;
  z-index: 100; }
  header .logo {
    display: inline-block; }
  header .menu {
    float: right;
    padding: 15px 40px 0 0; }
    header .menu ul, header .menu li {
      display: inline;
      padding: 0; }
    header .menu .toggle-nav {
      display: none; }
    header .menu ul li:last-child {
      padding-right: 0; }
    header .menu ul li {
      padding-right: 30px; }
      header .menu ul li a {
        color: white;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 600;
        text-shadow: none;
        -webkit-transition: all 0.15s ease-out 0s;
        -moz-transition: all 0.15s ease-out 0s;
        transition: all 0.15s ease-out 0s; }
        header .menu ul li a:hover {
          color: #ff0030; }

@media (max-width: 1015px) {
  .menu ul li {
    padding-right: 15px !important; } }
@media (max-width: 910px) {
  .menu {
    padding: 10px 30px !important; }
    .menu ul, .menu li {
      display: list-item !important; }
    .menu .active {
      display: block !important; }
    .menu ul {
      display: none !important;
      background: #212121;
      position: fixed !important;
      margin: 0 !important;
      top: 0 !important;
      right: 0;
      z-index: 100 !important;
      list-style: none !important;
      text-align: center;
      width: 200px;
      height: 100vh !important; }
      .menu ul li {
        padding-top: 20px !important; }
      .menu ul li:first-child {
        padding-top: 70px !important; }
    .menu .toggle-nav {
      position: absolute;
      display: block !important;
      z-index: 101;
      right: 30px;
      color: white !important;
      -webkit-transition: all 0.15s ease-out 0s;
      -moz-transition: all 0.15s ease-out 0s;
      transition: all 0.15s ease-out 0s; }
      .menu .toggle-nav:hover {
        color: #ff0030 !important; } }
@media (max-width: 360px) {
  header {
    padding: 5px 10px 0 10px !important; }

  .logo {
    height: 40px;
    width: 170px; }
    .logo svg {
      height: 40px;
      width: 170px; } }
.slider {
  width: 100%;
  height: auto;
  padding: 0;
  z-index: 0; }
  .slider .slide-container {
    width: 100%;
    height: 400px;
    outline: none; }
    @media (min-width: 720px) {
      .slider .slide-container {
        background-size: cover !important; } }
    .slider .slide-container .slide-lockup {
      padding: 20px 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5); }
      .slider .slide-container .slide-lockup .slide-content {
        text-align: center;
        max-width: 900px;
        margin: 20px auto 0;
        color: white; }
        .slider .slide-container .slide-lockup .slide-content .slide-title {
          font-size: 3em;
          color: white;
          font-weight: 400;
          letter-spacing: 1px;
          margin-bottom: 5px; }
          @media (max-width: 650px) {
            .slider .slide-container .slide-lockup .slide-content .slide-title {
              font-size: 2.5em; } }
          @media (max-width: 420px) {
            .slider .slide-container .slide-lockup .slide-content .slide-title {
              font-size: 2em; } }
          @media (max-width: 360px) {
            .slider .slide-container .slide-lockup .slide-content .slide-title {
              font-size: 1.5em; } }
        .slider .slide-container .slide-lockup .slide-content .date {
          text-transform: uppercase;
          letter-spacing: 1px; }
        .slider .slide-container .slide-lockup .slide-content .content {
          padding: 5px 20px 0;
          max-width: 600px;
          margin: 0 auto;
          font-size: 1em; }
        .slider .slide-container .slide-lockup .slide-content .divider {
          max-width: 150px;
          background: white;
          margin: 20px auto; }
        .slider .slide-container .slide-lockup .slide-content .read-full-article-button {
          display: inline-block;
          padding: 10px 20px;
          color: white;
          background: transparent;
          border: 1px solid white;
          border-radius: 3px;
          text-transform: uppercase;
          font-weight: 600;
          -webkit-transition: all 0.4s, ease-in-out;
          -moz-transition: all 0.4s, ease-in-out;
          transition: all 0.4s, ease-in-out; }
          .slider .slide-container .slide-lockup .slide-content .read-full-article-button:hover {
            background: #ff0030;
            border: 1px #ff0030 solid; }
        .slider .slide-container .slide-lockup .slide-content .blog-button {
          color: white;
          cursor: pointer; }
          .slider .slide-container .slide-lockup .slide-content .blog-button span {
            font-weight: 600; }
          .slider .slide-container .slide-lockup .slide-content .blog-button:hover {
            text-decoration: underline; }

.about-page {
  padding: 100px 40px 0;
  background: white;
  text-align: center; }
  @media (max-width: 550px) {
    .about-page {
      padding-top: 50px; } }
  .about-page .about-lockup .title {
    margin: 0;
    font-family: "Roboto", Verdana;
    text-transform: uppercase;
    color: black;
    font-weight: 900; }
  .about-page .about-description-lockup {
    max-width: 850px;
    margin: 20px auto 0; }
    .about-page .about-description-lockup p {
      font-weight: 300;
      color: black;
      line-height: 1.8; }

.services-page {
  padding-top: 100px; }
  @media (max-width: 550px) {
    .services-page {
      padding-top: 50px; } }
  .services-page .title, .services-page .subtitle {
    margin: 0; }
  .services-page .title {
    text-align: center;
    color: black;
    font-size: 2em;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 1px; }
  .services-page .subtitle {
    margin-top: 20px;
    color: black;
    text-align: center;
    font-weight: 300;
    font-style: italic; }
  .services-page .services-wrap {
    margin-top: 50px;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center; }
    .services-page .services-wrap .services-unit:nth-of-type(even) {
      background: #e6e6e6; }
    .services-page .services-wrap .services-unit {
      width: 33.33333%;
      background: #efefef; }
      @media (max-width: 670px) {
        .services-page .services-wrap .services-unit {
          width: 50%; } }
      @media (max-width: 450px) {
        .services-page .services-wrap .services-unit {
          width: 100%; } }
      .services-page .services-wrap .services-unit .services-meta {
        padding: 40px; }
        @media (max-width: 670px) {
          .services-page .services-wrap .services-unit .services-meta {
            padding: 20px; } }
        .services-page .services-wrap .services-unit .services-meta .services-title {
          text-transform: uppercase;
          color: #1f1f1f;
          font-weight: 800;
          letter-spacing: 2px;
          font-size: 1em; }
          @media (max-width: 800px) {
            .services-page .services-wrap .services-unit .services-meta .services-title {
              font-size: 0.9em;
              letter-spacing: 1px; } }
          @media (max-width: 550px) {
            .services-page .services-wrap .services-unit .services-meta .services-title {
              letter-spacing: 1px;
              font-size: 0.85em; } }
        .services-page .services-wrap .services-unit .services-meta .services-description {
          margin-top: 15px;
          font-size: 0.9em;
          color: #646464;
          line-height: 2em; }
          @media (max-width: 800px) {
            .services-page .services-wrap .services-unit .services-meta .services-description {
              font-size: 0.88em; } }
          @media (max-width: 550px) {
            .services-page .services-wrap .services-unit .services-meta .services-description {
              line-height: 1.5em;
              font-size: 0.8em; } }
        .services-page .services-wrap .services-unit .services-meta .services-read-more {
          margin-top: 30px;
          display: inline-block;
          font-size: 0.9em;
          font-weight: 400;
          text-transform: uppercase;
          letter-spacing: 1px;
          color: black;
          padding: 5px 30px;
          border: 2px solid #bcbcbc;
          -webkit-transition: all 0.15s ease-out 0s;
          -moz-transition: all 0.15s ease-out 0s;
          transition: all 0.15s ease-out 0s; }
          .services-page .services-wrap .services-unit .services-meta .services-read-more:hover {
            background: #ff0030; }

.gallery-page {
  padding: 100px 0 0;
  background: #FCFBFD;
  position: relative;
  overflow: hidden;
  text-align: center; }
  @media (max-width: 550px) {
    .gallery-page {
      padding-top: 50px; } }
  .gallery-page .full-gallery {
    margin-top: 50px;
    color: #ff0030; }
  .gallery-page .flex-video-strip {
    position: absolute;
    background: url(../img/gallery-video-bg.png);
    background-position: 0px center;
    top: 350px;
    width: 100%;
    height: 120px;
    z-index: 1; }
    @media (max-width: 630px) {
      .gallery-page .flex-video-strip {
        display: none; } }
  .gallery-page .gallery-container {
    padding: 0 20px; }
    .gallery-page .gallery-container .video-container {
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -moz-box-align: center;
      box-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      align-items: center;
      -ms-flex-align: center;
      -webkit-box-pack: center;
      -moz-box-pack: center;
      box-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      -o-justify-content: center;
      justify-content: center;
      -ms-flex-pack: center;
      margin-top: 40px; }
      .gallery-page .gallery-container .video-container .video-lock-up {
        height: auto;
        width: 600px;
        z-index: 3;
        background: #333; }
        .gallery-page .gallery-container .video-container .video-lock-up .flex-video {
          box-shadow: 0px 4px 40px 3px rgba(0, 0, 0, 0.5); }
  .gallery-page .pictures-lockup {
    margin-top: 50px;
    text-align: center; }
    .gallery-page .pictures-lockup:after {
      content: "";
      display: table;
      clear: both; }
    .gallery-page .pictures-lockup .picture-thumb {
      display: block;
      background-size: cover;
      background-position: center center;
      width: 25%;
      float: left;
      position: relative;
      overflow: hidden; }
      @media (max-width: 400px) {
        .gallery-page .pictures-lockup .picture-thumb {
          width: 50%; } }
      .gallery-page .pictures-lockup .picture-thumb::after {
        content: "";
        display: block;
        padding-top: 50%; }
    .gallery-page .pictures-lockup .picture-meta {
      position: absolute;
      background: rgba(0, 0, 0, 0.5);
      text-align: center;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      color: white;
      padding: 10px;
      transform: translate(0%, 100%) scale(0.5);
      -webkit-transition: all 200ms, ease-in-out;
      -moz-transition: all 200ms, ease-in-out;
      transition: all 200ms, ease-in-out;
      opacity: 0;
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -moz-box-align: center;
      box-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      align-items: center;
      -ms-flex-align: center;
      -webkit-box-pack: center;
      -moz-box-pack: center;
      box-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      -o-justify-content: center;
      justify-content: center;
      -ms-flex-pack: center; }
      .gallery-page .pictures-lockup .picture-meta .fa-search {
        opacity: 0.8; }
    .gallery-page .pictures-lockup .picture-thumb:hover .picture-meta {
      opacity: 1;
      transform: translate(0%, 0%) scale(1); }
  .gallery-page .gallery-contact-us {
    display: inline-block;
    text-align: center;
    color: black;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 50px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    border: 1px solid #2e2d33;
    padding: 10px 30px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s; }
    .gallery-page .gallery-contact-us:hover {
      background: #ff0030;
      color: white;
      border: 1px solid transparent; }

.team-section {
  padding: 100px 0;
  background: url(../img/team-bg.png); }
  @media (max-width: 550px) {
    .team-section {
      padding-top: 50px; } }
  .team-section .title-small {
    margin-top: 20px;
    font-size: 1.1em;
    color: black;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center; }
  .team-section .team-wrap {
    max-width: 800px;
    margin: 20px auto;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-align-content: center;
    -moz-align-content: center;
    align-content: center;
    -ms-flex-line-pack: center;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .team-section .team-wrap .call-to-action {
      width: 700px;
      padding: 30px 20px; }
      .team-section .team-wrap .call-to-action:after {
        content: "";
        display: table;
        clear: both; }
      @media (max-width: 485px) {
        .team-section .team-wrap .call-to-action {
          float: none; } }
      .team-section .team-wrap .call-to-action .action {
        text-transform: uppercase;
        font-size: 1.3em;
        color: black;
        font-weight: 600;
        letter-spacing: 1px; }
        @media (max-width: 485px) {
          .team-section .team-wrap .call-to-action .action {
            text-align: center;
            font-size: 1.2em;
            letter-spacing: 0; } }
      .team-section .team-wrap .call-to-action .row {
        margin-top: 10px;
        width: 100%;
        text-align: center; }
        .team-section .team-wrap .call-to-action .row p {
          font-size: 0.9em;
          line-height: 2em;
          float: left;
          color: #3f3f3f; }
          @media (max-width: 485px) {
            .team-section .team-wrap .call-to-action .row p {
              float: none;
              display: inline-block; } }
        .team-section .team-wrap .call-to-action .row .join-with-us-button {
          display: inline-block;
          color: black;
          letter-spacing: 1px;
          text-transform: uppercase;
          margin-left: 30px;
          padding: 10px 40px;
          border: 1px black solid;
          float: right;
          font-size: 0.85em;
          font-weight: 600;
          -webkit-transition: all 0.5s, ease-in-out;
          -moz-transition: all 0.5s, ease-in-out;
          transition: all 0.5s, ease-in-out; }
          .team-section .team-wrap .call-to-action .row .join-with-us-button:hover {
            background: #ff0030;
            border: 1px solid transparent;
            color: white; }
          @media (max-width: 485px) {
            .team-section .team-wrap .call-to-action .row .join-with-us-button {
              margin: 10px 0 0 0;
              float: none; } }
    .team-section .team-wrap .team-unit {
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      -o-filter: grayscale(100%);
      filter: grayscale(100%);
      margin: 5px 5px;
      background-size: cover;
      width: 190px;
      -webkit-transition: all 0.15s ease-out 0s;
      -moz-transition: all 0.15s ease-out 0s;
      transition: all 0.15s ease-out 0s;
      position: relative;
      overflow: hidden;
      height: 250px; }
      .team-section .team-wrap .team-unit:hover {
        transform: translateY(-5px);
        -webkit-filter: grayscale(0%);
        -moz-filter: grayscale(0%);
        -o-filter: grayscale(0%);
        filter: grayscale(0%); }
      .team-section .team-wrap .team-unit .team-meta {
        border-top: 1px solid white;
        padding: 5px 10px;
        position: absolute;
        background: rgba(0, 0, 0, 0.3);
        bottom: 0;
        width: 100%; }
        .team-section .team-wrap .team-unit .team-meta .name, .team-section .team-wrap .team-unit .team-meta .position {
          color: white; }
        .team-section .team-wrap .team-unit .team-meta .name {
          font-weight: 600;
          text-transform: uppercase;
          font-size: 0.9em;
          letter-spacing: 1px; }
        .team-section .team-wrap .team-unit .team-meta .position {
          font-weight: 400;
          text-transform: uppercase;
          font-style: italic;
          color: rgba(255, 255, 255, 0.8);
          font-size: 0.8em; }
  .team-section .testimonials-wrap {
    position: relative;
    max-width: 400px;
    text-align: center;
    margin: 0 auto 40px; }
    .team-section .testimonials-wrap .read-more {
      color: black;
      font-style: italic;
      font-size: 0.9em; }
      .team-section .testimonials-wrap .read-more:hover {
        text-decoration: underline; }
    .team-section .testimonials-wrap .face-container {
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -moz-box-pack: center;
      box-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      -o-justify-content: center;
      justify-content: center;
      -ms-flex-pack: center;
      -webkit-box-align: center;
      -moz-box-align: center;
      box-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      align-items: center;
      -ms-flex-align: center; }
      .team-section .testimonials-wrap .face-container .faces {
        list-style: none;
        padding: 0; }
      .team-section .testimonials-wrap .face-container .face {
        box-sizing: border-box;
        display: inline-block;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
        height: 80px;
        width: 80px;
        margin-right: 15px;
        -webkit-transition: all 0.15s ease-out 0s;
        -moz-transition: all 0.15s ease-out 0s;
        transition: all 0.15s ease-out 0s;
        cursor: pointer; }
        @media (max-width: 360px) {
          .team-section .testimonials-wrap .face-container .face {
            height: 60px;
            width: 60px; } }
    .team-section .testimonials-wrap .bubble {
      opacity: 0;
      position: absolute;
      text-align: center;
      pointer-events: none;
      -webkit-transition: all 0.3s, ease-in-out;
      -moz-transition: all 0.3s, ease-in-out;
      transition: all 0.3s, ease-in-out;
      transform: scale(0);
      transform-origin: bottom top; }
      .team-section .testimonials-wrap .bubble .testimonials-divider {
        margin: 10px auto;
        width: 200px; }
      .team-section .testimonials-wrap .bubble p {
        font-style: italic;
        color: #7e7e7e;
        font-family: "Times New Roman"; }
      .team-section .testimonials-wrap .bubble p::before, .team-section .testimonials-wrap .bubble p::after {
        content: '"'; }
      .team-section .testimonials-wrap .bubble cite {
        font-style: normal;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 0.9em; }
    .team-section .testimonials-wrap .testimonials-quote .has-bubble-open {
      opacity: 1;
      transform: scale(1); }

.active {
  transform: translateY(-5px); }

.why-choose-us-section {
  background-image: url(../img/why-choose-us-bg.jpg);
  background-position: bottom center;
  background-size: cover; }
  .why-choose-us-section .why-container {
    width: 100%;
    height: 100%;
    background: rgba(36, 36, 36, 0.8); }
    .why-choose-us-section .why-container .why-wrap {
      max-width: 850px;
      margin: 0 auto;
      color: white;
      padding: 40px 20px;
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -moz-box-pack: center;
      box-pack: center;
      -webkit-justify-content: space-around;
      -moz-justify-content: space-around;
      -ms-justify-content: space-around;
      -o-justify-content: space-around;
      justify-content: space-around;
      -ms-flex-pack: center;
      -webkit-box-align: center;
      -moz-box-align: center;
      box-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      align-items: center;
      -ms-flex-align: center;
      -webkit-box-lines: multiple;
      -moz-box-lines: multiple;
      box-lines: multiple;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .why-choose-us-section .why-container .why-wrap .why-unit {
        text-align: center;
        display: block;
        padding: 10px; }
        .why-choose-us-section .why-container .why-wrap .why-unit .underline {
          width: 40px;
          background: rgba(255, 255, 255, 0.8);
          margin: 10px auto 0; }
        .why-choose-us-section .why-container .why-wrap .why-unit cite {
          font-size: 1em;
          font-family: "Times New Roman";
          text-transform: capitalize;
          letter-spacing: 1px;
          color: rgba(255, 255, 255, 0.8); }
        .why-choose-us-section .why-container .why-wrap .why-unit p {
          color: white;
          font-weight: 500; }

.packages-section {
  padding: 100px 0; }
  @media (max-width: 550px) {
    .packages-section {
      padding-top: 50px; } }
  .packages-section .price-wrap {
    max-width: 950px;
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    margin: 15px auto;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    box-align: stretch;
    -webkit-align-items: stretch;
    -moz-align-items: stretch;
    -ms-align-items: stretch;
    -o-align-items: stretch;
    align-items: stretch;
    -ms-flex-align: stretch;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .packages-section .price-wrap .price-row {
      width: 700px;
      color: black;
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -moz-box-pack: justify;
      box-pack: justify;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      -ms-justify-content: space-between;
      -o-justify-content: space-between;
      justify-content: space-between;
      -ms-flex-pack: justify; }
      @media (max-width: 620px) {
        .packages-section .price-wrap .price-row {
          display: block !important;
          text-align: center;
          margin: 5px auto 0 0; } }
      .packages-section .price-wrap .price-row p {
        font-size: 1.1em; }
      .packages-section .price-wrap .price-row .button {
        display: inline-block;
        background: #ff2700;
        padding: 10px 30px;
        color: white;
        -webkit-transition: all 0.15s ease-out 0s;
        -moz-transition: all 0.15s ease-out 0s;
        transition: all 0.15s ease-out 0s; }
        @media (max-width: 620px) {
          .packages-section .price-wrap .price-row .button {
            margin-top: 5px; } }
        .packages-section .price-wrap .price-row .button:hover {
          background: #e52300; }
    .packages-section .price-wrap .pricing-table {
      display: inline-block;
      margin-top: 5px;
      width: 300px;
      border: 1px solid #DDD;
      margin-left: 5px;
      margin-bottom: 1.11111rem; }
      .packages-section .price-wrap .pricing-table * {
        list-style: outside none none;
        line-height: 1; }
      .packages-section .price-wrap .pricing-table .title {
        background-color: #333;
        color: #FFF;
        font-size: 0.88889rem;
        font-weight: normal;
        padding: 0.83333rem 1.11111rem;
        text-align: center; }
      .packages-section .price-wrap .pricing-table .price {
        background-color: #F6F6F6;
        color: #333;
        font-size: 1.77778rem;
        font-weight: normal;
        padding: 0.83333rem 1.11111rem;
        text-align: center; }
      .packages-section .price-wrap .pricing-table .description {
        background-color: #FFF;
        border-bottom: 1px dotted #DDD;
        color: #777;
        font-size: 0.66667rem;
        font-weight: normal;
        line-height: 1.4;
        padding: 0.83333rem;
        text-align: center; }
      .packages-section .price-wrap .pricing-table .bullet-item {
        background-color: #FFF;
        border-bottom: 1px dotted #DDD;
        color: #333;
        font-size: 0.77778rem;
        font-weight: normal;
        padding: 0.83333rem;
        text-align: center; }
      .packages-section .price-wrap .pricing-table .cta-button {
        background-color: #FFF;
        padding: 1.11111rem 1.11111rem 0px;
        text-align: center; }
        .packages-section .price-wrap .pricing-table .cta-button .button2 {
          display: inline-block;
          text-transform: uppercase;
          font-weight: 600;
          font-size: 0.9em;
          margin-bottom: 0.5rem;
          color: black; }
        .packages-section .price-wrap .pricing-table .cta-button .button {
          -moz-appearance: none;
          border-radius: 0px;
          border-style: solid;
          border-width: 0px;
          cursor: pointer;
          font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
          font-weight: normal;
          line-height: normal;
          margin: 0px 0px 1.11111rem;
          position: relative;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          padding: 0.88889rem 1.77778rem 0.94444rem;
          font-size: 0.88889rem;
          background-color: #008CBA;
          border-color: #007095;
          color: #FFF;
          transition: background-color 300ms ease-out; }
    .packages-section .price-wrap ul, .packages-section .price-wrap ol, .packages-section .price-wrap dl {
      font-size: 1rem;
      line-height: 1.6;
      list-style-position: outside;
      padding: 0;
      margin: 0; }

.landing-page {
  background: url(/assets/img/packages-landing-bg.jpg);
  background-size: cover;
  background-position: center; }
  .landing-page .landing-wrapper {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5); }
    .landing-page .landing-wrapper p {
      padding: 200px 60px;
      text-align: center;
      color: white;
      font-size: 2.5em; }
      @media (max-width: 910px) {
        .landing-page .landing-wrapper p {
          padding: 100px 60px; } }
      @media (max-width: 910px) {
        .landing-page .landing-wrapper p {
          padding: 70px 60px; } }
      .landing-page .landing-wrapper p span {
        font-weight: 600; }

.section-basic {
  padding: 0 80px;
  padding-top: 50px;
  margin-top: 20px; }
  @media (max-width: 910px) {
    .section-basic {
      padding: 0 60px; } }
  @media (max-width: 630px) {
    .section-basic {
      padding: 0 40px; } }
  @media (max-width: 400px) {
    .section-basic {
      padding: 0 20px; } }
  .section-basic .packages-title {
    font-weight: 400;
    color: black; }
  .section-basic .description {
    color: #777;
    font-size: 0.95em; }

/*# sourceMappingURL=main.css.map */
